.App {
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.Hero {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.ScrollDown a svg {
    position: absolute;
    bottom: 0;
    color: #e2366a88;
    border: 1px solid #e2366a88;
    height: 50px;
    border-radius: 30px;
}