.Header {
    position: absolute;
    left: 1%;
    height: 100vh;
}

.Typewriter {
    font-family: var(--nunito);
    margin-top: -20%;

    width: 400px;
    height: 100%;
    color: white;

    font-size: 5em;
    font-weight: 300;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Typewriter__cursor {
    font-size: 0em;
}