@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    margin: 0;
}

:root {
    --architect: 'Architects Daughter', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --nunito: 'Nunito', sans-serif;

    --color-bg: #070707;
    --regular: 400;
    --light: 300;
    --bold: 700;
    --accent-dim: #fb8cbaa3;
    --accent: #f49cc8;
    --accent-dark: #ce4b82d6;
    --accent-secondary-dark: #9f4ef5;
    --accent-secondary: #c69cf4;
    --accent-secondary-dim: #c79cf4c6;
    --disabled-color: #949494;
    --disabled-dark: #505050;
}