@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    margin: 0;
}

:root {
    --architect: 'Architects Daughter', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --nunito: 'Nunito', sans-serif;

    --color-bg: #070707;
    --regular: 400;
    --light: 300;
    --bold: 700;
    --accent-dim: #f49cc89e;
    --accent: #f49cc8;
    /* --accent-dark: #ff2c74; */
    /* --accent-dark: #ed3a93; */
    --accent-dark: #e8609d;
    --accent-secondary-dark: #7960e8b6;
    --accent-secondary: #7960e8;
    --accent-secondary-dim: #7960e8de;
    --disabled-color: #949494;
    /* --clay-grey: #2f363e; */
    --disabled-dark: #575d63;
    --clay-grey: #171a1f;
    --color-bg-alt: #090a18;
}