.Navbar {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--color-bg);
}

.Navbar a {
    border: 1px solid var(--accent-dim);
    border-radius: 50%;
    width: 48px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--accent-dim);
    font-size: 2em;
    margin: auto;
}

.active {
    color: var(--secondary-accent);
    border-color: var(--secondary-accent);
}

.Navbar a * {
    position: relative;
    width: 100%;
}

.Navbar a:hover {
    color: var(--accent);
    transition: ease 1s;
}

.VerticalDiv {
    background-color: var(--accent-dim);
    width: 1px;
    height: 15%;
    height: calc(25hv - 55px);
}