.Navbar {
    position: absolute;
    right: 0;
    top: 1%;
    bottom: 1%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--color-bg);
}

.NavLink {
    border: 2px solid var(--disabled-dark);
    border-radius: 50%;
    width: 2em;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--accent-dim);
    font-size: 2em;
    margin: auto;
    transition: ease-in-out 0.4s;
}

.NavLink * {
    position: relative;
    width: 100%;
}

.NavLink:hover {
    color: var(--accent);
    width: 100px;
    font-size: 3.5em;
    border: 3px dotted var(--disabled-dark);
}

.VerticalDiv {
    background-color: var(--disabled-dark);
    width: 2px;
    height: 15%;
    height: calc(25hv - 55px);
}