.Navbar {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #0a0a0a;
}

.Navbar .Navlink {
    border: 2px solid #36e2b2;
    border-radius: 50%;
    width: 48px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Navbar .Navlink a {
    color: #36e2b2;
    font-size: 2em;
    margin: auto;
}

.Navbar .Navlink:hover,
.Navbar .Navlink a:hover {
    color: aquamarine;
    border-color: aquamarine;
}

.VerticalDiv {
    background-color: #36e2b2;
    width: 2px;
    height: 15%;
    height: calc(25hv - 55px);
}