@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;700&display=swap');
.Projects {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    background-color: #fff;
}

.Project {
    border: none;
    background-color: #fff;
    border-radius: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2%;
    gap: 20px;
    box-shadow: 2px 2px 10px 1px #a3a3a3;
}

.ProjectHead {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.ProjectHead h3 {
    color: var(--color-bg);
    font-family: var(--montserrat);
}

.ProjectImage {
    padding-top: 5px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.ProjectLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.github-link,
.web-link {
    color: var(--accent);
    font-size: 1.5em;
}

.github-link:hover,
.web-link:hover {
    color: var(--accent-secondary);
}

.inactive {
    pointer-events: none;
    color: var(--disabled-color);
    text-decoration: none;
}

.TechPill {
    color: white;
    background-color: var(--accent-dark);
    border-radius: 30px;
    padding: 8px;
}

.TechStack {
    font-family: var(--montserrat);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding-bottom: 10px;
}